@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
 
}

p {
  font-weight: 400;
font-size: 16px;

}

h1 {
  font-weight: 900;
  font-size: 32px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

